---
permalink: "/"
layout: layout.liquid

renderData:
    title: "Photo Gallery"

---

<div class="columns is-multiline">
    {%- for photoSet in contentful-photos -%}
    <div class="column is-one-third ">
        <div class="box">
            <p class="title is-4 has-text-dark">{{photoSet.title}}</p>
            <a href="{{photoSet.slug}}">
                <div class="image is-3by2">
                    <img src="https:{{photoSet.coverImage.fields.file.url}}?w=400&fm=jpg&fl=progressive&q=80&fit=fill&f=faces" alt="Photo from {{ photoSet.title }}" loading="lazy">
                </div>
            </a>
        </div>
    </div>
    {%- endfor -%}
</div>
